<header>

    <div>

        <h3>Employee Management System</h3>

    </div>

    <div class="actions">

        <div class="search">

            <i class="bi bi-search"></i>

            <input
                type="text"
                placeholder="Search..." />

        </div>

        <div class="notification">

    <button>

        <i class="bi bi-bell"></i>

    </button>

    <span></span>

</div>

        <img
        src="https://ui-avatars.com/api/?name=Admin&background=0C66E4&color=fff">

    </div>

</header>