header{

    position:fixed;

    left:260px;

    right:0;

    top:0;

    height:75px;

    background:white;

    border-bottom:1px solid #E5E7EB;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 35px;

    z-index:100;

}

header h3{

    margin:0;

}

.actions{

    display:flex;

    align-items:center;

    gap:20px;

}

.search{

    display:flex;

    align-items:center;

    background:#F3F4F6;

    border-radius:12px;

    padding:0 15px;

}

.search input{

    border:none;

    background:transparent;

    padding:12px;

    outline:none;

    width:320px;

}

.actions button{

    border:none;

    width:42px;

    height:42px;

    border-radius:50%;

    background:#F3F4F6;

    cursor:pointer;

    
}
.actions button:hover{

background:#E9F2FF;

color:#0C66E4;

}

.actions img{

    width:45px;

    border-radius:50%;

}
.notification{

position:relative;

}

.notification span{

position:absolute;

top:8px;

right:8px;

width:8px;

height:8px;

border-radius:50%;

background:#EF4444;

}

.actions img{

cursor:pointer;

transition:.3s;

}

.actions img:hover{

transform:scale(1.08);

}