<div class="sidebar">

    <div class="logo">

        <h3>HRMS</h3>

    </div>

    <nav>

        <a routerLink="/dashboard">
            <i class="bi bi-grid-1x2-fill"></i>
            Dashboard
        </a>

        <a routerLink="/employees">
            <i class="bi bi-people-fill"></i>
            Employees
        </a>

        <a routerLink="/add-employee">
            <i class="bi bi-person-plus-fill"></i>
            Add Employee
        </a>

    </nav>

    <button class="logout">

        <i class="bi bi-box-arrow-right"></i>

        Logout

    </button>

</div>