@use "../../themes/variables" as *;

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100vh;
    background: white;
    border-right: 1px solid #E5E7EB;

    display: flex;
    flex-direction: column;

    padding: 24px;
    box-shadow: 0 0 20px rgba(0,0,0,.05);

    overflow-y: auto;
}

.brand{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:40px;

}

.logo{

    width:55px;

    height:55px;

    border-radius:14px;

    background:#0C66E4;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:24px;

}

.brand h2{

    margin:0;

    font-size:22px;

}

.brand span{

    color:#6B7280;

    font-size:13px;

}

nav{
    display:flex;
    flex-direction:column;
    gap:8px;
    flex:1;
}

nav a{

    text-decoration:none;

    color:#374151;

    padding:15px;

    border-radius:12px;

    display:flex;

    align-items:center;

    gap:14px;

    transition:.25s;

    font-weight:500;

}

nav a:hover{

    background:#E9F2FF;

    color:#0C66E4;

}

nav a.active{

    background:#0C66E4;

    color:white;

}

.logout button{

    width:100%;

    border:none;

    background:#F3F4F6;

    padding:14px;

    border-radius:12px;

    cursor:pointer;

    font-weight:600;

}

.logout button:hover{

    background:#EF4444;

    color:white;

}
.profile{
    display:flex;
    align-items:center;
    gap:15px;

    padding:15px;

    border-radius:14px;
    background:#F8FAFC;

    margin-top:20px;
    margin-bottom:15px;
}

.profile img{
    width:50px;
    height:50px;
    border-radius:50%;
}

.profile h4{
    margin:0;
    font-size:15px;
}

.profile span{
    font-size:13px;
    color:#6B7280;
}