<h1>Employee Count: {{employees.length}}</h1>

<!--<p>{{employees | json}}</p> -->

<h2>Employee List</h2>

<table border="1" cellpadding="10">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Action</th>
    </tr>

    <tr *ngFor="let emp of employees">
       
        <td>{{emp.empID}}</td>
        <td>{{emp.fullName}}</td>
        <td>{{emp.gender}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.phone}}</td>
        <td>{{emp.deptID}}</td>
        <td>{{emp.salary}}</td>
        <td>
    <button (click)="editEmployee(emp)">
        Edit
    </button>
        </td>
    </tr>

</table>
